$mainColor : #28a745;
$secondColor: #dc3545;
$backColor: #CFC;
$h2Color: #333;
$h3Color: #555;
$pColor: #777;
$overlayColor: #CFC;
$footerColor: rgb(1, 15, 3);

$facebookColor: #3b5998;
$twitterColor: #38A1F3;
$instagramColor: #9b3f5b;
$googlePlusColor: #db4a39;

$lineHeight: 1.5;
$pFontSize: 20px;


$direction : left;
$inverseDirection : right;

