nav(class="navbar navbar-dark bg-dark navbar-expand-lg")
  .container
    h1 
      a(class="navbar-brand" href="index.html")
        h1 sho
          span man
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    
    div(class="collapse navbar-collapse" id="main")
      ul(class="navbar-nav ml-auto")
        li(class="nav-item")
          a(class="nav-link" href="index.html") Home
        li(class="nav-item about")
          a(class="nav-link" href="about.html") About
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
          div(class="dropdown-menu" aria-labelledby="navbarDropdown")
            a(class="dropdown-item nav-item" href="#") About Me
            a(class="dropdown-item nav-item" href="#") Subscribe
            a(class="dropdown-item nav-item" href="#") Special Thanks
            a(class="dropdown-item nav-item" href="#") What They Said
            a(class="dropdown-item nav-item" href="#") Portifolio
            div(class="dropdown-divider")
            a(class="dropdown-item nav-item" href="#") Contact Us
        li(class="nav-item")
          a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Disabled
